/* Write your CSS code here */
.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
}
.image {
  width: 150px;
}
.about-heading {
  font-family: 'roboto';
  font-weight: 500;
  color: #551e53;
}
.about-para {
  color: #555555;
  font-family: roboto;
  font-size: 20px;
  text-align: center;
}
